// color palette - these colors will be the color swatches of the Colors section

$color-1: #1e130d; // Dark Brown
$color-2: #730020; // Lighter brown
$color-3: #ad8a56; // Dark Green
$color-4: #837c49; // Light green
$color-5: #e7d9c7; // Creme 

$success: #6fce72; // green
$alert: $color-3; // red