@import 'colors';
@import 'layout';
@import 'prefix-mixins';
@import 'typography';

/* -------------------------------- 

xNavigation 

-------------------------------- */


nav[role=navigation] a{
  color: $color-1;
  font-size: 1.25em;
  transition: 0.5s;
  &:hover{
    color: $color-4;
  }
}

nav[role=navigation] li{
  padding: 1% 0;
  @include flex-container(column);
}

nav[role=navigation] ul{
  width: 80vw;
  @include flex-container(row);
  flex-wrap: wrap;
  justify-content: space-between;
    @include MQ(M){
    @include flex-container(column);
    width: 100%;
  }
}