@import 'colors';
@import 'layout';
@import 'prefix-mixins';
@import 'typography';

/* -------------------------------- 

xNavigation 

-------------------------------- */


nav[role=navigation] a{
  color: $color-5;
  font-size: 1.25em;
  transition: 0.5s;
  &:hover{
    color: $color-4;
  }
}

nav[role=navigation] li{
  padding: 1% 0;
}

// nav[role=navigation] ul{
//   @include MQ(M){
//     @include flex-container(row);
//     justify-content: space-evenly;
//   }
// }