/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------- 

xTypography 

-------------------------------- */
h1,
h2 {
  font-family: "UnifrakturCook", cursive;
  color: #837c49;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-weight: bold;
  margin: 1em 0;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: #524e2e;
}

p {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #774b34;
}
p a {
  color: #1e130d;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

nav[role=navigation] {
  font-family: "MedievalSharp", cursive;
}

header {
  font-size: 2em;
}

aside {
  font-family: "MedievalSharp", cursive;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */
nav[role=navigation] a {
  text-decoration: none;
  color: #fff;
  font-size: 1.25em;
  transition: 0.5s;
}
nav[role=navigation] a:hover {
  color: #837c49;
}

nav[role=navigation] li {
  padding: 1% 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

nav[role=navigation] ul {
  width: 80vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  nav[role=navigation] ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 100%;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */
h1,
h2 {
  font-family: "UnifrakturCook", cursive;
  color: #837c49;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-weight: bold;
  margin: 1em 0;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: #524e2e;
}

p {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #774b34;
}
p a {
  color: #1e130d;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

nav[role=navigation] {
  font-family: "MedievalSharp", cursive;
}

header {
  font-size: 2em;
}

aside {
  font-family: "MedievalSharp", cursive;
}

/* -------------------------------- 

xElements
-------------------------------- */
body {
  /* this is the page background */
  background-color: #e7d9c7;
}

.page-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

section h3, #zen-supporting h3 {
  background-color: white;
  font-family: "MedievalSharp", cursive;
  padding: 1%;
}

footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin: 5% 0;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#zen-intro {
  width: 100%;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#zen-summary {
  margin-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  #zen-summary {
    height: 150px;
  }
}

header {
  background-image: url(/assets/toppng.com-medieval-dragon-banner-285x541.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: right;
}
@media only screen and (min-width: 1024px) {
  header {
    height: 200px;
  }
}

header h2 {
  line-height: 0;
}

#zen-preamble, #zen-explanation, #zen-participation, #zen-benefits, #zen-requirements {
  margin-bottom: 50px;
  width: 90%;
}

#zen-preamble > h3, #zen-explanation > h3, #zen-participation > h3, #zen-benefits > h3, #zen-requirements > h3 {
  margin-bottom: 15px;
}

#zen-summary, header {
  grid-column: 1/6;
}

#zen-preamble {
  grid-column: 1/6;
}
@media only screen and (min-width: 1024px) {
  #zen-preamble {
    grid-column: 1/5;
  }
}

#zen-preamble h3, #zen-supporting h3 {
  position: relative;
  padding-left: 7%;
  font-size: 1.75em;
}

#zen-preamble h3::after, #zen-supporting h3::after {
  content: " ";
  display: block;
  float: left;
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 49% 82%, 0 100%, 0 0);
  height: 120%;
  width: 30px;
  background-color: #A00608;
  position: absolute;
  top: 0;
  left: 0;
}

#zen-supporting {
  position: relative;
  grid-column: 1/6;
}
@media only screen and (min-width: 1024px) {
  #zen-supporting {
    grid-column: 1/5;
  }
}

#zen-supporting:before {
  grid-column: 1/2;
  background: url(/assets/Dragon.svg) center no-repeat;
}

aside {
  color: #e7d9c7;
  height: 1250px;
  margin-left: 5%;
}
@media only screen and (min-width: 1024px) {
  aside {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 49% 95%, 0 100%, 0 0);
    background-color: #A00608;
    grid-row: 2/5;
    grid-column: 5/6;
    position: absolute;
    top: 375px;
    right: 2%;
    padding: 0 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 200px;
  }
}

aside > .wrapper {
  text-align: right;
}

#design-selection {
  margin-bottom: 25px;
}
#design-selection:nth-child(even) {
  text-align: right;
}
#design-selection > h3 {
  margin-bottom: 25px;
}
@media only screen and (min-width: 1024px) {
  #design-selection:nth-child(even) {
    text-align: left;
  }
}

#design-archives {
  margin-bottom: 25px;
}

aside li {
  margin-bottom: 5%;
}

footer a {
  width: 150px;
  height: 150px;
}

#zen-requirements {
  background: url(/assets/dragon-egg-2.svg) no-repeat center;
  background-size: contain;
  background-size: 500px 400px;
}

/*# sourceMappingURL=style.css.map */
