@import 'partials/reset';
@import "partials/colors";
@import "partials/layout";
@import "partials/navigation";
@import "partials/prefix-mixins";
@import "partials/typography";
@import "partials/elements";



//CSS grid
.page-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#zen-intro{
    width: 100%;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#zen-summary{
    margin-bottom: 25px;
    @include MQ(M) {
        height: 150px;
    }
}

header{
    background-image: url(/assets/toppng.com-medieval-dragon-banner-285x541.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;
    @include MQ(M) {
        height: 200px;
    }
}

header h2{
    line-height: 0;
}

#zen-preamble, #zen-explanation, #zen-participation, #zen-benefits, #zen-requirements {
    margin-bottom: 50px;
    width: 90%;
}

#zen-preamble > h3, #zen-explanation > h3, #zen-participation > h3, #zen-benefits > h3, #zen-requirements > h3 {
    margin-bottom: 15px;
}

#zen-summary, header{
    grid-column: 1/6;
}

#zen-preamble{
    grid-column: 1/6;
    @include MQ(M){
        grid-column: 1/5;
    }
}

#zen-preamble h3, #zen-supporting h3{
    position: relative;
    padding-left: 35px;
    font-size: 1.75em;
}

#zen-preamble h3::after, #zen-supporting h3::after{
    content: " ";
    display: block;
    float: left;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 49% 82%, 0 100%, 0 0);
    height: 120%;
    width: 30px;
    background-color: $color-6;
    position: absolute;
    top: 0;
    left: 0;
}

#zen-supporting{
    position: relative;
    grid-column: 1/6;
    @include MQ(M){
        grid-column: 1/5;
    }
}

//This is not working yet for the dragon picture --TODO
#zen-supporting:before{
    grid-column: 1/2;
    background: url(/assets/Dragon.svg) center no-repeat;
    // content: '';
    // display: inline-block;
    // // float: left;
    // height: 900px;
    // // left: 55%;
    // // margin: -350px 0 0 -1050px;
    // max-width: 495px;
    // min-width: 312px;
    // position: relative;
    // width: 100%;
}

aside{
    color: $color-5;
    height: 1250px;
    margin-left: 5%;
    @include MQ(M){
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 49% 95%, 0 100%, 0 0);
        background-color: $color-6;
        grid-row: 2/5;
        grid-column: 5/6;
        position: absolute;
        //Set height of top banner to fix pixels size --TODO
        top: 375px;
        right: 2%;
        padding: 0 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 200px;
        background-image: linear-gradient(to right, #530b0e 0%, #8f1719 51%, #530b0e 100%)

    }
}

aside > .wrapper{
    text-align: right;
}

#design-selection{
    margin-bottom: 25px;
    &:nth-child(even){
        text-align: right;
    }

    & > h3{
        margin-bottom: 25px;
        font-size: 1.5em;
    }
    @include MQ(M){
        &:nth-child(even){
            text-align: left;
        }
    }
}

#design-archives{
    margin-bottom: 25px;
}

aside li{
    margin-bottom: 5%;
}
footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
}
footer a{
    padding: 3% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-family: $alternative-font;
    font-weight: bold;
    color: #c9bdbd;
    border: 3px solid black;
    background: #530b0e;
    box-shadow:0 0 0 3px #c9bdbd;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #530b0e 0%, #8f1719 51%, #530b0e 100%)
}

#zen-requirements{
    background: url(/assets/dragon-egg-2.svg) no-repeat center;
    background-size: contain;
    background-size: 500px 400px;

}
