/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------- 

xTypography 

-------------------------------- */
h1,
h2 {
  font-family: "UnifrakturCook", cursive;
  color: #e7d9c7;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-weight: bold;
  margin: 1em 0;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: #524e2e;
}

p {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #bfb98c;
}
p a {
  color: #e7d9c7;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

nav[role=navigation] {
  font-family: "MedievalSharp", cursive;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */
nav[role=navigation] a {
  color: #e7d9c7;
  font-size: 1.25em;
  transition: 0.5s;
}
nav[role=navigation] a:hover {
  color: #837c49;
}

nav[role=navigation] li {
  padding: 1% 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

@media only screen and (min-width: 1024px) {
  nav[role=navigation] ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }
}

/* -------------------------------- 

xTypography 

-------------------------------- */
h1,
h2 {
  font-family: "UnifrakturCook", cursive;
  color: #e7d9c7;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-weight: bold;
  margin: 1em 0;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: #524e2e;
}

p {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #bfb98c;
}
p a {
  color: #e7d9c7;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

nav[role=navigation] {
  font-family: "MedievalSharp", cursive;
}

/* -------------------------------- 

xElements
-------------------------------- */
body {
  /* this is the page background */
  background-color: #ad8a56;
  max-width: 100vw;
}

section h3, #zen-supporting h3 {
  background-color: white;
  font-family: "MedievalSharp", cursive;
  padding: 1%;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#zen-intro {
  width: 100%;
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#zen-summary {
  height: 100px;
}

header {
  height: 200px;
}

#zen-summary, header {
  grid-column: 1/6;
}

#zen-preamble {
  grid-column: 2/5;
}

#zen-supporting {
  grid-column: 2/5;
}

aside {
  grid-row: 2/5;
  grid-column: 5/6;
  margin-top: -350px;
  padding-left: 12%;
  font-family: "MedievalSharp", cursive;
}

aside li {
  margin-bottom: 5%;
}

/*# sourceMappingURL=style.css.map */
