/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------- 

xTypography 

-------------------------------- */
h1,
h2 {
  font-family: "UnifrakturCook", cursive;
  color: #e7d9c7;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-weight: bold;
  margin: 1em 0;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: #524e2e;
}

p {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #bfb98c;
}
p a {
  color: #e7d9c7;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

nav[role=navigation] {
  font-family: "MedievalSharp", cursive;
}

/* -------------------------------- 

xNavigation 

-------------------------------- */
nav[role=navigation] a {
  color: #e7d9c7;
  font-size: 1.25em;
  transition: 0.5s;
}
nav[role=navigation] a:hover {
  color: #837c49;
}

nav[role=navigation] li {
  padding: 1% 0;
}

@media only screen and (min-width: 1024px) {
  nav[role=navigation] ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }
}

header {
  background-color: #730020;
}

.cd-logo {
  /* logo box style */
  background-color: #1e130d;
  width: 120px;
}
@media only screen and (min-width: 1024px) {
  .cd-logo {
    width: 180px;
  }
}

.cd-main-nav {
  /* main navigation background color - full screen on small devices */
  background: #730020;
}
.cd-main-nav li a {
  color: #e7d9c7;
  border-color: #8d0027;
  font-family: "MedievalSharp", cursive;
}
@media only screen and (min-width: 1024px) {
  .cd-main-nav li a {
    color: #ff4075;
  }
  .cd-main-nav li a.selected {
    color: #e7d9c7;
    box-shadow: 0 2px 0 #1e130d;
  }
  .cd-main-nav li a:hover {
    color: #e7d9c7;
  }
}

.cd-nav-trigger span {
  /* hamburger menu */
  background-color: #e7d9c7;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* upper and lower lines */
  background-color: #e7d9c7;
}

.nav-is-visible .cd-nav-trigger span {
  /* hide line in the center on mobile when nav is visible */
  background-color: rgba(231, 217, 199, 0);
}
.nav-is-visible .cd-nav-trigger span::before, .nav-is-visible .cd-nav-trigger span::after {
  /* preserve visibility of upper and lower lines - close icon */
  background-color: #e7d9c7;
}

.cd-download {
  /* download button top-right visible on big devices */
  background-color: #a6002e;
}
.no-touch .cd-download:hover {
  background-color: #c00035;
}
.cd-download span {
  /* tooltip */
  background: #1e130d;
  color: #e7d9c7;
}
.cd-download span::before {
  /* right arrow color */
  border-color: #1e130d;
}

/* -------------------------------- 

xTypography 

-------------------------------- */
h1,
h2 {
  font-family: "UnifrakturCook", cursive;
  color: #e7d9c7;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-weight: bold;
  margin: 1em 0;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 2rem;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: #524e2e;
}

p {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 1.4rem;
  line-height: 1.4;
  color: #bfb98c;
}
p a {
  color: #e7d9c7;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

nav[role=navigation] {
  font-family: "MedievalSharp", cursive;
}

/*# sourceMappingURL=style.css.map */
